/backend/venv
/frontend/node_modules
/infrastructure/.terraform/
/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform.tfstate.lock.info
/infrastructure/terraform.tfstate
/help/hosts
/help/security_group.tf
/frontend/.env
/backend/.env
/help/help.js
/help/src
/kubernetes/backend-config.yaml
/kubernetes/backend-config.yaml
/hosts
/help
/.vscode