/backend/venv
/frontend/node_modules
/infrastructure/.terraform/
/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform.tfstate.lock.info
/infrastructure/terraform.tfstate
/hosts
/security_group.tf